<!-- 
<app-admin-layout></app-admin-layout>

<p>application works!</p> -->

<div class="container-fluid">
    <div class="row">
      
      <!-- Sidebar -->
      <app-admin-layout></app-admin-layout>
  
      <!-- Main Content -->
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">e-Crawler Application</h1>
        </div>
        <p>Welcome to the application!</p>
      </main>
    </div>
  </div>
