.table-form {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table-form td {
    padding: 10px;
    vertical-align: middle;
  }
  
  .shadow-input {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .shadow-input:focus {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    outline: none;
    border-color: #007bff;
  }
  .cancel-button {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
  }
  
  