button {
    margin-right: 10px;

    &.edit-btn {
        background-color: #6c757d; // Gray
        color: white;
    }

    &.delete-btn {
        background-color: #dc3545; // Red
        color: white;
    }
}
.table th{
    background-color: #88b8f2;
    color: white;
}