<div class="container-fluid">
  <form [formGroup]="candidateForm">
    <div class="row">

      <!-- Sidebar -->
      <app-admin-layout pageHeader="Candidate's Form"></app-admin-layout>

      <!-- Main Content -->
      <main class="col-md-9 mx-sm-auto col-lg-10 px-md-4" style="width: 70%;">

        <div class="container mt-2">
          <div class="d-flex justify-content-between align-items-center mb-2">
            <h2 style="color: red; font-size: 30px;"> New Candidate </h2>
            <div class="d-flex">
              <button type="button" class="btn btn-danger btn-action me-2" (click)="ClearCandidateForm()">
                <i class="fas fa-times"></i> Clear
              </button>
              <button type="button" class="btn btn-primary btn-action me-2" (click)="ViewCandidate()">
                <i class="fas fa-eye"></i> View Candidate List
              </button>
              <button type="button" class="btn btn-success btn-action" (click)="SaveCandidate()">
                <i class="fas fa-save"></i> Save
              </button>
            </div>
          </div>
        </div>

        <br>

        <div class="row mb-2">
          <div class="col-md-6">
            <div class="text-danger"
              *ngIf="candidateForm.get('CandidateName')?.errors?.['required'] && candidateForm.get('CandidateName')?.touched">
              <span>Name is required*</span>
            </div>
            <div class="form-floating">
              <input type="text" formControlName="CandidateName" class="form-control form-control-sm"
                id="txtCandidateName" placeholder="Candidate Name">
              <label for="txtCandidateName">Candidate Name</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="text-danger" *ngIf="candidateForm.get('EmailAddress')?.touched">
              <div *ngIf="candidateForm.get('EmailAddress')?.errors?.['required']">Email is required*</div>
              <div *ngIf="candidateForm.get('EmailAddress')?.errors?.['email']">Invalid email format*</div>
            </div>
            <div class="form-floating">
              <input type="text" formControlName="EmailAddress" class="form-control form-control-sm"
                id="txtEmailAddress" placeholder="Email Address">
              <label for="txtEmailAddress">Email Address</label>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-6">
            <div class="text-danger" *ngIf="candidateForm.get('PhoneNumber')?.touched">
              <div *ngIf="candidateForm.get('PhoneNumber')?.errors?.['required']">Phone Number is required*</div>
              <div *ngIf="candidateForm.get('PhoneNumber')?.errors?.['pattern']">Invalid Phone Number format*</div>
            </div>
            <div class="form-floating">
              <input type="text" formControlName="PhoneNumber" class="form-control form-control-sm" id="txtPhoneNumber"
                placeholder="Phone Number">
              <label for="txtPhoneNumber">Phone Number</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-floating">
              <input type="text" formControlName="SkillSet" class="form-control form-control-sm" id="txtSkillSet"
                placeholder="Skill Set">
              <label for="txtSkillSet">Skill Set</label>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-md-6">
            <div class="text-danger" *ngIf="candidateForm.get('PanCardNumber')?.touched">
              <div *ngIf="candidateForm.get('PanCardNumber')?.errors?.['required']">PAN is required*</div>
              <div *ngIf="candidateForm.get('PanCardNumber')?.errors?.['pattern']">Invalid PAN format (e.g., ABCDE1234F)
              </div>
            </div>
            <div class="form-floating">
              <input type="text" formControlName="PanCardNumber" class="form-control form-control-sm"
                id="txtPanCardNumber" placeholder="PanCard Number">
              <label for="txtPanCardNumber">PanCard Number</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="text-danger" *ngIf="candidateForm.get('AadharCardNumber')?.touched">
              <div *ngIf="candidateForm.get('AadharCardNumber')?.errors?.['required']">Aadhar is required*</div>
              <div *ngIf="candidateForm.get('AadharCardNumber')?.errors?.['pattern']">Aadhar must be a 12-digit number
              </div>
            </div>
            <div class="form-floating">
              <input type="text" formControlName="AadharCardNumber" class="form-control form-control-sm"
                id="txtAadharCardNumber" placeholder="AadharCard Number">
              <label for="txtAadharCardNumber">AadharCard Number</label>
            </div>
          </div>

        </div>
      </main>
    </div>
  </form>
</div>