<div class="container-fluid">
  <div class="row">

    <!-- Sidebar -->
    <app-admin-layout pageHeader="Announcement"></app-admin-layout>

    <!-- Main Content -->
    <main class="col-md-9 ms-sm-auto col-lg-10" style="width:100%">
      <div>
        <table class="table table-striped">
          <thead style="background-color: #88b8f2;">
            <tr>
              <th scope="col">#</th>
              <th scope="col">EmployeeId</th>
              <th scope="col">Title</th>
              <th scope="col">FromDate</th>
              <th scope="col">ToDate</th>
              <th scope="col">Status</th>
              <th>
                <button type="button" class="btn btn-success btn-action" (click)="open(content)"><i
                    class="fas fa-plus"></i>
                  Add
                </button>
              </th>
            </tr>
          </thead>
          <tbody>
            @for (anc of currentPageAnnouncement; track anc.EmployeeId; let i = $index) {
            <tr>
              <th scope="row">{{ (currentPage - 1) * pageSize + i + 1 }}</th>
              <td>{{ anc.EmployeeName}}</td>
              <td>{{ anc.Title}}</td>
              <td>{{ anc.FromDate ? (anc.FromDate.toString() | date:"mediumDate") : 'Invalid Date' }}</td>
              <td>{{ anc.ToDate ? (anc.ToDate.toString() | date:"mediumDate") : 'Invalid Date' }}</td>
              <td>{{ anc.Status}}</td>
              <td>
                <i class="bi bi-pencil-fill" (click)="open(content,anc)"
                  style="cursor: pointer;font-size: 20px;margin-right: 30px;"></i>
                <i class="bi bi-trash3-fill" (click)="openDeleteModal(announcementModal,anc.Id)"
                  style="cursor: pointer; color: red;font-size: 20px;"></i>
              </td>
            </tr>
            }
          </tbody>
        </table>
        <div class="container mt-3">
          <div class="row d-flex justify-content-center align-items-center" style="flex-wrap: nowrap;">
            <!-- Page Size Selector -->
            <div class="col-auto mb-3 d-flex align-items-center">
              <label for="pageSize" class="mr-2 mb-0" style="min-width: 120px;">Items per page:</label>
              <select class="form-control" id="pageSize" [(ngModel)]="pageSize" (change)="onPageSizeChange(pageSize)">
                <option *ngFor="let size of pageSizes" [value]="size">{{ size }}</option>
              </select>
            </div>

            <!-- Total Records Display -->
            <div class="col-auto mb-3 d-flex align-items-center ml-3">
              <span>Total records: <b>{{ totalItems }}</b></span>
            </div>

            <!-- Pagination Controls -->
            <div class="col-auto mb-3">
              <nav aria-label="Page navigation example">
                <ul class="pagination mb-0">

                  <!-- First Page Button -->
                  <li class="page-item" [class.disabled]="currentPage === 1">
                    <a class="page-link" href="#" (click)="goToPage(1, $event)">First</a>
                  </li>

                  <!-- Previous Page Button -->
                  <li class="page-item" [class.disabled]="currentPage === 1">
                    <a class="page-link" href="#" (click)="goToPage(currentPage - 1, $event)">Previous</a>
                  </li>

                  <!-- Page Number Buttons -->
                  <li class="page-item" *ngFor="let page of totalPages">
                    <a class="page-link" href="#" (click)="goToPage(page, $event)"
                      [ngClass]="{'active': currentPage === page}">
                      {{ page }}
                    </a>
                  </li>

                  <!-- Next Page Button -->
                  <li class="page-item" [class.disabled]="currentPage === totalPages.length">
                    <a class="page-link" href="#" (click)="goToPage(currentPage + 1, $event)">Next</a>
                  </li>

                  <!-- Last Page Button -->
                  <li class="page-item" [class.disabled]="currentPage === totalPages.length">
                    <a class="page-link" href="#" (click)="goToPage(totalPages.length, $event)">Last</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">
      {{ isEditMode ? 'Announcement' : 'Announcement' }}
    </h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="announcementForm" (ngStyle)="Save()">
      <div class="row mb-6">
        <div class="col-md-6">
          <label for="employeeId" class="form-label">Employee Name</label>
          <select formControlName="EmployeeId" class="form-select" id="employeeId" name="employeeId">
            <option *ngFor="let en of employeeName" [value]="en.Id">{{ en.EmployeeName }}</option>
          </select>
          <div *ngIf="announcementForm.get('EmployeeId')?.invalid && announcementForm.get('EmployeeId')?.touched"
            class="text-danger small">
            <div *ngIf="announcementForm.get('EmployeeId')?.errors?.['required']">Employee is required*</div>
          </div>
        </div>
        <div class="col-md-6">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" id="title" formControlName="Title" name="title" required
            maxlength="15" />
          <div *ngIf="announcementForm.get('Title')?.invalid && announcementForm.get('Title')?.touched"
            class="text-danger small">
            <div *ngIf="announcementForm.get('Title')?.errors?.['required']">
              Title required*
            </div>
            <div *ngIf="announcementForm.get('Title')?.errors?.['minlength']">
              Minimum length is 3 characters
            </div>
            <div *ngIf="announcementForm.get('Title')?.errors?.['maxlength']">
              Maximum length is 15 characters
            </div>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" formControlName="Description" name="description" rows="4"
          required maxlength="150" (input)="checkDescriptionLength()"></textarea>
      </div>
      <div *ngIf="announcementForm.get('Description')?.invalid && announcementForm.get('Description')?.touched"
        class="text-danger small">
        <div *ngIf="announcementForm.get('Description')?.errors?.['required']">
          Description is required*
        </div>
        <div *ngIf="announcementForm.get('Description')?.errors?.['maxlength']">
          Description cannot exceed 150 characters.
        </div>
      </div>
      <div *ngIf="isDescriptionMax" class="text-success small">
        150 characters is enough.
      </div>

      <div class="row mb-3">
        <div class="col-md-6">
          <label for="fromDate" class="form-label">From Date</label>
          <input type="date" class="form-control" id="fromDate" formControlName="FromDate">
          <div *ngIf="announcementForm.get('FromDate')?.invalid && announcementForm.get('FromDate')?.touched"
            class="text-danger small">
            From Date is required*
          </div>
        </div>
        <div class="col-md-6">
          <label for="toDate" class="form-label">To Date</label>
          <input type="date" class="form-control" id="toDate" formControlName="ToDate">
          <div *ngIf="announcementForm.get('ToDate')?.invalid && announcementForm.get('ToDate')?.touched"
            class="text-danger small">
            To Date is required*
          </div>
          <div *ngIf="announcementForm.errors?.['toDateBeforeFromDate'] && announcementForm.get('ToDate')?.touched"
            class="text-danger small">
            To Date must be after From Date*
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="status" class="form-label">Status</label>
        <select class="form-select" id="status" formControlName="Status" name="status">
          <option value="ACTIVE">ACTIVE</option>
          <option value="INACTIVE">INACTIVE</option>
        </select>
        <div *ngIf="announcementForm.get('Status')?.invalid && announcementForm.get('Status')?.touched"
          class="text-danger small">
          <div *ngIf="announcementForm.get('Status')?.errors?.['required']">Status is required*</div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="Cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="Save()">Save</button>
  </div>
</ng-template>

<ng-template #announcementModal let-modal>
  <div class="modal fade show d-block" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirm Deletion</h5>
          <button type="button" class="btn-close" (click)="modal.dismiss()">
          </button>
        </div>
        <div class="modal-body text-center">
          <p>Are you sure you want to delete Announcement</p>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-danger" (click)="confirmDelete(modal)">Delete</button>
          <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>